/*div by default is display:  block*/
#div-3 {
	background-color: skyblue;
	border: 2px solid black;
	height: 200px;
	width: 200px;
	display: inline;
	/*inline as display removes height and width*/
}

#div-4 {
	background-color: aquamarine;
	border: 2px solid black;
	height: 200px;
	width: 200px;
	display: inline;
}

/*span by default is display:  inline*/

#span-3 {
	background-color: gray;
	border: 2px solid black;
	display: block;
	
}

#span-4 {
	background-color: brown;
	border: 2px solid black;
	display: block;
}

/*How to place div and span in one line*/
/*if you zoom in and zoom out blocks will change location*/
#span-5 {
	background-color: yellow;
	border: 2px solid black;
	display: inline-block;
	width: 300px;
	height: 300px;
}

#span-6 {
	background-color: orange;
	border: 2px solid black;
	display: inline-block;
	width: 300px;
	height: 300px;
}

#div-5 {
	background-color: pink;
	border: 2px solid black;
	display: inline-block;
	height: 300px;
	width: 300px;
}

#div-6 {
	background-color: violet;
	border: 2px solid black;
	display: inline-block;
	height: 300px;
	width: 300px;
}

/*display none overlaps elements [hides elements]*/
/*this is for responsiveness*/
/*applicable for mobile vs desktop display*/

#div-7 {
	background-color: lightcyan;
	border: 2px solid black;
	display: none;
}

#span-7 {
	background-color: lightgreen;
	border: 2px solid black;
	display: none;
}

/*parent element is body so if you zoom in or zoom out, size changes acdg to screen*/
.box {
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent {
	width: 50%;
}

.one-hunderd-pixels {
	width: 100px;
}

/*absolute unit. doesn't change even if you zoom in or out bc of the parent element. 
it depends on the parent element. doesn't change */

.parent {
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

/*viewport depends on view. so if view screen is 50% then vw is 50%. same goes for height vh*/

.fifty-vw {
	width: 50vw;
}

.twenty-five-vh {
	width: 25vh;
}

/*rem is relative to root element*/
.two-rem {
	font-size: 2rem;
}

/*em is relative to parent element*/
.two-em {
	font-size: 2em;
}

.background {
	min-height: 100vh;
	/*background-color: gray;*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
}

.container-bg {
	background-color: rgb(0, 0, 0, 0.5);
	min-height: 100vh;
}

.bg-title {
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
	line-height: 35rem;
}
